/* 
  Initial version created with http://www.csstablegenerator.com/, 
  then adapted manually
*/

.table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  width: 720px;
  text-align: left;
  border-collapse: collapse;
}

.table th {
  font-size: 14px;
  font-weight: normal;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 2px;
  padding-left: 2px;
  background: #9ccdff;
  border-top: 4px solid #6daded;
  border-bottom: 1px solid #ffffff;
  color: #151718;
}

.table td {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
  background: #e0f0ff; 
  border-bottom: 1px solid #ffffff;
  color: #384538;
  border-top: 1px solid transparent;
}

.table tr:hover td {
  background: #cce5ff;
  color: #000000;
}